
/* font-family: "MyriadPro-Regularorpheus"; */
@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../fonts/MyriadPro-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "MyriadProBold"; */
@font-face {
    font-family: "MyriadProBold";
    src: url("../fonts/MyriadProBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}